<div class='container d-flex justify-content-center align-items-center py-4'>
  {{#if flights.length}}
    <div class='row w-100 d-flex justify-content-center'>
      {{#each flights}}
        <div class='card col-12 m-2'>
          <div class='card-body mx-auto d-flex flex-column align-items-center'>
            <div class="d-flex flex-column align-items-center">
              <div class='brand'>
                <img src='' alt='' />
                <p class='h3'>{{this.airline_name}}</p>
              </div>
              <div class='route d-flex align-items-center text-center'><div class="d-flex flex-column align-items-center">
                  <p class="h5 text-nowrap">{{this.departure_time}}</p>
                  <p class="text-primary">{{this.from_flight_code}}</p>
                  <p class="text-warning fw-bolder">{{this.from_airport}}</p>
                </div>
                <div class="h1 mx-4">-</div>
                <div class="d-flex flex-column align-items-center text-center">
                  <p class="h5 text-nowrap">{{this.arrival_time}}</p>
                  <p class="text-primary">{{this.to_flight_code}}</p>
                  <p class="text-warning fw-bolder">{{this.to_airport}}</p>
                </div>
                </div>
              <div class='price'>
                <p>{{this.price}} VND/pax</p>
                <a type="submit" href="prebooking/{{id}}?passenger={{passengers}}?seatclass={{seat-class}}" class='btn btn-primary'>Choose</a>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
    <div class='d-flex justify-content-center'>
      <p><strong>Không tìm thấy chuyến bay nào</strong></p>
    </div>
  {{/if}}

</div>