<div class="container-fluid itinerary-container">
    <main>
        <div class="row align-items-center">
            <div class="col navbar-brand text-uppercase fw-bold logo-primary">
                TiMa
            </div>
            <div class="col-sm-5 text-center text-sm-right">
                <h4 class="text-7 mb-0">Flight Itinerary</h4>
            </div>
        </div>
        <hr class="my-4">
        <h4>1.Booking Information</h4>
        <div class="row mx-auto">
            <div class="col"> <strong class="text-3 font-weight-600">Full Name:</strong>
                <p class="text-2 font-weight-500">{{bill.last_name}} {{bill.first_name}}</p>
                <strong class="text-3 font-weight-600">Email:</strong>
                <p class="text-2 font-weight-500">{{bill.email}}</p>
            </div>
            <div class="col"> <strong class="text-3 font-weight-600">Telephone</strong>
                <p class="text-2 font-weight-500">{{bill.telephone}}</p>
                <strong class="text-3 font-weight-600">Code</strong>
                <p class="text-2 font-weight-500">762995296</p>
            </div>
        </div>
        <h4>2.Passenger(s) Information</h4>
        <div class="card mb-3">
            <div class="card-body">
                {{#each passengers}}
                <div class="row">
                    <div class="col  text-center time-info mt-3 mt-sm-0"> <span
                            class="text-4 font-weight-500 text-dark">{{title}} {{last_name}} {{first_name}}</span>
                    </div>
                    <div class="col-3  text-center time-info mt-3 mt-sm-0"> <span
                            class="text-2 font-weight-500 text-dark">{{dateFormat date_of_birth "DD/MM/YYYY"}}</span>
                    </div>
                    <div class="col-3 text-center time-info mt-3 mt-sm-0"> <span
                            class="text-2 font-weight-500 text-dark">{{../seatClass.name}}</span>
                    </div>
                    <div class="col-3 text-center time-info mt-3 mt-sm-0"> <span
                            class="text-2 font-weight-500 text-dark">{{#currencyFormat
                            ../price.price}}{{/currencyFormat}}</span>
                    </div>
                </div>
                <hr>
                {{/each}}
                <div class="row">
                    <div class="col  text-center time-info mt-3 mt-sm-0"> <span
                            class="text-5 font-weight-500 text-dark">Total</span>
                    </div>
                    <div class="col-3  text-center time-info mt-3 mt-sm-0"> <span
                            class="text-2 font-weight-500 text-dark"></span>
                    </div>
                    <div class="col-3 text-center time-info mt-3 mt-sm-0"> <span
                            class="text-2 font-weight-500 text-dark"></span>
                    </div>
                    <div class="col-3 text-center time-info mt-3 mt-sm-0"> <span
                            class="text-2 font-weight-500 text-dark">{{#currencyFormat total}}{{/currencyFormat}}</span>
                    </div>
                </div>
            </div>
        </div>
        <h4>3.Flight Information</h4>
        {{#each extendFlight}}
        <div class="card mb-3">
            <div class="card-header">
                <div class="row align-items-center trip-title">
                    <div class="col-5 col-md-auto text-center text-md-left">
                        <h6 class="m-0">{{departure_city}} ({{departure_airport}})</h6>
                    </div>
                    <div class="col-2 col-md-auto text-5 text-black-50 text-center trip-arrow">➝</div>
                    <div class="col-5 col-md-auto text-center text-md-left">
                        <h6 class="m-0">{{arrival_city}} ({{arrival_airport}})</h6>
                    </div>
                    <div class="col-12 col-md-auto text-3 text-dark text-center mt-2 mt-md-0 ml-md-auto"> {{dateFormat
                        departure_time "DD MMMM YYYY"}}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-3 text-center time-info mt-3 mt-sm-0"> <span
                            class="text-5 font-weight-500 text-dark">{{airline_name}}</span> <span
                            class="text-muted d-block">{{plane}}</span> </div>
                    <div class="col-12 col-sm-3 text-center time-info mt-3 mt-sm-0"> <span
                            class="text-5 font-weight-500 text-dark">{{dateFormat departure_time "HH:mm"}}</span> <span
                            class="text-muted d-block">Departure</span> </div>
                    <div class="col-12 col-sm-3 text-center time-info mt-3 mt-sm-0"> <span
                            class="text-4 font-weight-500 text-dark">{{flight_time}}</span> <span
                            class="text-muted d-block">Duration</span> </div>
                    <div class="col-12 col-sm-3 text-center time-info mt-3 mt-sm-0"> <span
                            class="text-5 font-weight-500 text-dark">{{dateFormat arrival_time "HH:mm"}}</span> <span
                            class="text-muted d-block">Arrival</span> </div>
                </div>
                <hr>
                <div class="row d-flex ">
                    <div class="col-sm-8"><strong class="font-weight-600">Class of Service:</strong>
                        <p>{{../seatClass.name}}</p>
                    </div>

                    <div class="col-sm-4"><strong class="font-weight-600">Confirmation Status:</strong>
                        <p><span class="btn-sm  btn-success">Confirmed <i class="bi bi-check-circle"></i></span></p>
                    </div>
                </div>
                <hr class="mt-1 ">
                <div class="row mb-2">
                    <div class="row d-flex  justify-content-between">
                        <strong class="font-weight-600">Airport Info:</strong>
                    </div>
                    <div class="row mx-auto">
                        <p class="col-5">{{departure_airport_name}}<br>
                            {{departure_city}}<br>
                            {{departure_province}}
                        </p>
                        <p class="col-2"><br>
                            To<br>
                        </p>
                        <p class="col-5">{{arrival_airport_name}}<br>
                            {{arrival_city}}<br>
                            {{arrival_province}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </main>
</div>
<p class="text-center d-print-none"><a href="/">&laquo; Back to My Account</a></p>