<main>
    <div class="section">
    </div>
    <div class="card vh-100">
        <div class="row ">
            <div class="col infor-box shadow">
                <div class="content ">
                    <div class="row mb-1">
                        <h4 class="font-weight-bold">Flight from {{departureAirport.city}} to {{arrivalAirport.city}}</h4>
                    </div>
                    <div class="row mb-1">
                        <div class="col-auto icon">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24"
                                viewBox="0 0 172 172" style=" fill:#000000;">
                                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                    stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none"
                                    text-anchor="none" style="mix-blend-mode: normal">
                                    <path d="M0,172v-172h172v172z" fill="none"></path>
                                    <g fill="#72bcef">
                                        <path
                                            d="M142.76941,134.27724c-2.01831,1.57051 -4.92686,1.26783 -6.73454,-0.53985l-15.95703,-15.95703l-5.6152,5.6162c-2.42297,2.42306 -6.35146,2.42314 -8.77452,0.00017c-2.42306,-2.42297 -2.42314,-6.35146 -0.00017,-8.77452l5.61587,-5.61587l-18.16347,-18.16347l-33.87426,34.85721l15.5922,26.1833c0.2749,0.4396 0.4917,0.91296 0.645,1.40825c0.60099,2.10162 0.03091,4.40078 -1.98741,6.41876l-61.42214,-61.42214c2.24205,-2.24205 4.98397,-2.72882 7.30496,-1.65416l26.70535,15.90496l35.01947,-33.71301l-18.3872,-18.38687l-5.61587,5.61553c-2.42306,2.42297 -6.35155,2.4229 -8.77452,-0.00017c-2.42297,-2.42306 -2.4229,-6.35155 0.00017,-8.77452l5.61553,-5.61553l-15.89522,-15.89522c-1.80734,-1.80768 -2.11002,-4.71623 -0.53952,-6.73454c1.35501,-1.75416 3.70184,-2.40912 5.76939,-1.61015l65.6133,24.38906l38.50146,-37.45703c2.89956,-2.78994 7.50024,-2.74081 10.33955,0.11042c2.83931,2.85123 2.86918,7.45208 0.06712,10.33992l-37.63709,38.4252l24.19892,65.27568c0.79897,2.06756 0.14401,4.41438 -1.61015,5.76939z">
                                        </path>
                                        <path
                                            d="M147.41105,14.35495l-38.50012,37.45737l-65.6133,-24.38906c-2.06756,-0.79897 -4.41438,-0.14401 -5.76939,1.61015c-1.57051,2.01831 -1.26783,4.92686 0.53952,6.73454l15.89522,15.89522l-5.61553,5.61553c-2.42306,2.42297 -2.42314,6.35146 -0.00017,8.77452c2.42297,2.42306 6.35146,2.42314 8.77452,0.00017l5.61587,-5.61587l18.3872,18.3872l-35.02081,33.71435l-26.70535,-15.90496c-2.32099,-1.075 -5.06291,-0.58789 -7.30496,1.65416l29.79766,28.45391l115.86484,-112.28207c-2.8418,-2.85254 -7.446,-2.89933 -10.3452,-0.10515z">
                                        </path>
                                        <path
                                            d="M146.00583,12.91008l-37.58838,36.56881l-64.39922,-23.93588c-3.12896,-1.20431 -6.67297,-0.03198 -8.46653,2.80067c-1.79356,2.83265 -1.33771,6.53759 1.08901,8.85099l14.46984,14.46984l-4.19048,4.19048c-3.21019,3.21019 -3.21019,8.41493 0,11.62512c3.21019,3.21019 8.41493,3.21019 11.62512,0l4.19116,-4.18948l15.50923,15.50923l-32.43141,31.21968l-25.38445,-15.11719c-0.05968,-0.03547 -0.12112,-0.06787 -0.18409,-0.09709c-3.16991,-1.46872 -6.83969,-0.67994 -9.57724,2.05762c-0.78709,0.78714 -0.78709,2.06329 0,2.85043l61.42382,61.42248c0.37801,0.37808 0.89075,0.59048 1.42538,0.59048c0.53464,0 1.04737,-0.21241 1.42538,-0.59048c2.42245,-2.42278 3.33351,-5.48384 2.49669,-8.40919c-0.19993,-0.65905 -0.48497,-1.28921 -0.84791,-1.87453l-14.80174,-24.85568l31.37253,-32.28359l15.29221,15.29255l-4.19048,4.19048c-3.14035,3.22192 -3.10712,8.36977 0.07455,11.55089c3.18167,3.18112 8.32953,3.21345 11.55091,0.07254l4.19015,-4.19048l14.5303,14.534c2.50878,2.56651 6.53403,2.86867 9.39785,0.70547l0.0047,-0.0037c2.44518,-1.89506 3.36189,-5.1672 2.25716,-8.05679l-23.75347,-64.07773l36.75156,-37.52153c3.63041,-3.6694 3.61866,-9.58102 -0.0263,-13.23596c-3.64497,-3.65494 -9.55654,-3.68284 -13.23584,-0.06246zM156.37891,23.39502l-37.63844,38.42688c-0.54582,0.55734 -0.72102,1.3796 -0.44982,2.11103l24.20698,65.29752c0.48247,1.24064 0.08735,2.65083 -0.96952,3.46016c-1.16604,0.90367 -2.95188,0.73906 -4.06787,-0.37692l-15.95703,-15.95703c-0.78714,-0.78709 -2.06329,-0.78709 -2.85043,0l-5.61587,5.61587c-1.63594,1.63585 -4.28824,1.63577 -5.92409,-0.00017c-1.63585,-1.63594 -1.63577,-4.28824 0.00017,-5.92409l5.61553,-5.61553c0.37808,-0.37801 0.59048,-0.89075 0.59048,-1.42538c0,-0.53464 -0.21241,-1.04737 -0.59048,-1.42538l-18.16212,-18.16448c-0.3799,-0.38386 -0.89946,-0.5969 -1.43949,-0.59024c-0.53955,0.00383 -1.05503,0.22382 -1.43109,0.61073l-33.87527,34.85889c-0.63544,0.65387 -0.75281,1.65288 -0.28622,2.43622l16.03094,27.11452c0.26608,0.932 0.17008,1.93013 -0.26875,2.79433l-58.1229,-58.12424c1.02924,-0.51792 2.23533,-0.55201 3.29219,-0.09305l26.60625,15.84516c0.78023,0.46469 1.77486,0.35025 2.42916,-0.2795l35.02014,-33.712c0.38991,-0.37533 0.61251,-0.89169 0.61769,-1.43287c0.00518,-0.54118 -0.20749,-1.06171 -0.59015,-1.44443l-18.3872,-18.3872c-0.37801,-0.37808 -0.89075,-0.59048 -1.42538,-0.59048c-0.53464,0 -1.04737,0.21241 -1.42538,0.59048l-5.61553,5.61553c-1.63585,1.63594 -4.28815,1.63601 -5.92409,0.00017c-1.63594,-1.63585 -1.63601,-4.28815 -0.00017,-5.92409l5.61587,-5.61553c0.37808,-0.37801 0.59048,-0.89075 0.59048,-1.42538c0,-0.53464 -0.21241,-1.04737 -0.59048,-1.42538l-15.89522,-15.89522c-1.11733,-1.11699 -1.2816,-2.90552 -0.37759,-4.06686c0.43295,-0.5644 1.05185,-0.95716 1.74688,-1.10859c0.57891,-0.1204 1.1803,-0.07046 1.73142,0.14378l65.6133,24.38906c0.72945,0.27115 1.54982,0.09816 2.10767,-0.44445l38.49642,-37.45065c2.10316,-2.0447 5.45929,-2.01886 7.53071,0.05799c2.07142,2.07685 2.08849,5.43304 0.03829,7.53084z">
                                        </path>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="col">
                            <div class="row mb-1">
                                <div>{{departureAirport.city}} ({{departureAirport.symbol_code}}) → {{arrivalAirport.city}} ({{arrivalAirport.symbol_code}}) | {{dateFormat departureAirport.departure_time "DD/MM/YYYY"}}</div>

                            </div>
                            <div class="row">
                                <div>{{passenger}} passenger(s) | {{seatClass.name}}</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h4>Transit: {{transit}}</h4>
        <div class="row d-flex align-items-start ">
            <div class="col">
                {{#each extendFlight}}
                <div class=" col infor-box shadow pb-2" style=" margin-right: 20px;">
                <div class="content ">
                    <div class="row text-header d-flex align-items-center">
                        <div class="col-auto icon">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24"
                                viewBox="0 0 172 172" style=" fill:#000000;">
                                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                    stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none"
                                    text-anchor="none" style="mix-blend-mode: normal">
                                    <path d="M0,172v-172h172v172z" fill="none"></path>
                                    <g fill="#72bcef">
                                        <path
                                            d="M142.76941,134.27724c-2.01831,1.57051 -4.92686,1.26783 -6.73454,-0.53985l-15.95703,-15.95703l-5.6152,5.6162c-2.42297,2.42306 -6.35146,2.42314 -8.77452,0.00017c-2.42306,-2.42297 -2.42314,-6.35146 -0.00017,-8.77452l5.61587,-5.61587l-18.16347,-18.16347l-33.87426,34.85721l15.5922,26.1833c0.2749,0.4396 0.4917,0.91296 0.645,1.40825c0.60099,2.10162 0.03091,4.40078 -1.98741,6.41876l-61.42214,-61.42214c2.24205,-2.24205 4.98397,-2.72882 7.30496,-1.65416l26.70535,15.90496l35.01947,-33.71301l-18.3872,-18.38687l-5.61587,5.61553c-2.42306,2.42297 -6.35155,2.4229 -8.77452,-0.00017c-2.42297,-2.42306 -2.4229,-6.35155 0.00017,-8.77452l5.61553,-5.61553l-15.89522,-15.89522c-1.80734,-1.80768 -2.11002,-4.71623 -0.53952,-6.73454c1.35501,-1.75416 3.70184,-2.40912 5.76939,-1.61015l65.6133,24.38906l38.50146,-37.45703c2.89956,-2.78994 7.50024,-2.74081 10.33955,0.11042c2.83931,2.85123 2.86918,7.45208 0.06712,10.33992l-37.63709,38.4252l24.19892,65.27568c0.79897,2.06756 0.14401,4.41438 -1.61015,5.76939z">
                                        </path>
                                        <path
                                            d="M147.41105,14.35495l-38.50012,37.45737l-65.6133,-24.38906c-2.06756,-0.79897 -4.41438,-0.14401 -5.76939,1.61015c-1.57051,2.01831 -1.26783,4.92686 0.53952,6.73454l15.89522,15.89522l-5.61553,5.61553c-2.42306,2.42297 -2.42314,6.35146 -0.00017,8.77452c2.42297,2.42306 6.35146,2.42314 8.77452,0.00017l5.61587,-5.61587l18.3872,18.3872l-35.02081,33.71435l-26.70535,-15.90496c-2.32099,-1.075 -5.06291,-0.58789 -7.30496,1.65416l29.79766,28.45391l115.86484,-112.28207c-2.8418,-2.85254 -7.446,-2.89933 -10.3452,-0.10515z">
                                        </path>
                                        <path
                                            d="M146.00583,12.91008l-37.58838,36.56881l-64.39922,-23.93588c-3.12896,-1.20431 -6.67297,-0.03198 -8.46653,2.80067c-1.79356,2.83265 -1.33771,6.53759 1.08901,8.85099l14.46984,14.46984l-4.19048,4.19048c-3.21019,3.21019 -3.21019,8.41493 0,11.62512c3.21019,3.21019 8.41493,3.21019 11.62512,0l4.19116,-4.18948l15.50923,15.50923l-32.43141,31.21968l-25.38445,-15.11719c-0.05968,-0.03547 -0.12112,-0.06787 -0.18409,-0.09709c-3.16991,-1.46872 -6.83969,-0.67994 -9.57724,2.05762c-0.78709,0.78714 -0.78709,2.06329 0,2.85043l61.42382,61.42248c0.37801,0.37808 0.89075,0.59048 1.42538,0.59048c0.53464,0 1.04737,-0.21241 1.42538,-0.59048c2.42245,-2.42278 3.33351,-5.48384 2.49669,-8.40919c-0.19993,-0.65905 -0.48497,-1.28921 -0.84791,-1.87453l-14.80174,-24.85568l31.37253,-32.28359l15.29221,15.29255l-4.19048,4.19048c-3.14035,3.22192 -3.10712,8.36977 0.07455,11.55089c3.18167,3.18112 8.32953,3.21345 11.55091,0.07254l4.19015,-4.19048l14.5303,14.534c2.50878,2.56651 6.53403,2.86867 9.39785,0.70547l0.0047,-0.0037c2.44518,-1.89506 3.36189,-5.1672 2.25716,-8.05679l-23.75347,-64.07773l36.75156,-37.52153c3.63041,-3.6694 3.61866,-9.58102 -0.0263,-13.23596c-3.64497,-3.65494 -9.55654,-3.68284 -13.23584,-0.06246zM156.37891,23.39502l-37.63844,38.42688c-0.54582,0.55734 -0.72102,1.3796 -0.44982,2.11103l24.20698,65.29752c0.48247,1.24064 0.08735,2.65083 -0.96952,3.46016c-1.16604,0.90367 -2.95188,0.73906 -4.06787,-0.37692l-15.95703,-15.95703c-0.78714,-0.78709 -2.06329,-0.78709 -2.85043,0l-5.61587,5.61587c-1.63594,1.63585 -4.28824,1.63577 -5.92409,-0.00017c-1.63585,-1.63594 -1.63577,-4.28824 0.00017,-5.92409l5.61553,-5.61553c0.37808,-0.37801 0.59048,-0.89075 0.59048,-1.42538c0,-0.53464 -0.21241,-1.04737 -0.59048,-1.42538l-18.16212,-18.16448c-0.3799,-0.38386 -0.89946,-0.5969 -1.43949,-0.59024c-0.53955,0.00383 -1.05503,0.22382 -1.43109,0.61073l-33.87527,34.85889c-0.63544,0.65387 -0.75281,1.65288 -0.28622,2.43622l16.03094,27.11452c0.26608,0.932 0.17008,1.93013 -0.26875,2.79433l-58.1229,-58.12424c1.02924,-0.51792 2.23533,-0.55201 3.29219,-0.09305l26.60625,15.84516c0.78023,0.46469 1.77486,0.35025 2.42916,-0.2795l35.02014,-33.712c0.38991,-0.37533 0.61251,-0.89169 0.61769,-1.43287c0.00518,-0.54118 -0.20749,-1.06171 -0.59015,-1.44443l-18.3872,-18.3872c-0.37801,-0.37808 -0.89075,-0.59048 -1.42538,-0.59048c-0.53464,0 -1.04737,0.21241 -1.42538,0.59048l-5.61553,5.61553c-1.63585,1.63594 -4.28815,1.63601 -5.92409,0.00017c-1.63594,-1.63585 -1.63601,-4.28815 -0.00017,-5.92409l5.61587,-5.61553c0.37808,-0.37801 0.59048,-0.89075 0.59048,-1.42538c0,-0.53464 -0.21241,-1.04737 -0.59048,-1.42538l-15.89522,-15.89522c-1.11733,-1.11699 -1.2816,-2.90552 -0.37759,-4.06686c0.43295,-0.5644 1.05185,-0.95716 1.74688,-1.10859c0.57891,-0.1204 1.1803,-0.07046 1.73142,0.14378l65.6133,24.38906c0.72945,0.27115 1.54982,0.09816 2.10767,-0.44445l38.49642,-37.45065c2.10316,-2.0447 5.45929,-2.01886 7.53071,0.05799c2.07142,2.07685 2.08849,5.43304 0.03829,7.53084z">
                                        </path>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="col-auto"> {{departure_airport_name}}</div>
                        <div class="col-auto">
                            <img class="icon"
                                src="https://img.icons8.com/pastel-glyph/64/000000/drag-right-arrow.png" />
                        </div>
                        <div class="col-auto">{{arrival_airport_name}}</div>
                    </div>
                </div>
                <div class="content">
                    <div class="row ">
                        <div class="col">{{dateFormat departure_time "dddd, DD/MM/YYYY"}}</div>
                    </div>
                    <div class="row d-flex justify-content-between">
                        <div class="col-3 align-self-center">{{airline_name}}</div>
                        <div class="col-4 flight-time">
                            <div class="row ">
                                <div class="col-auto ">
                                    <div class="row">{{dateFormat departure_time "HH:mm"}}</div>
                                    <div class="row symbol-code">{{departure_airport}}</div>
                                </div>
                                <div class="col d-flex flex-column ">
                                    <div class="align-self-center  ">{{flight_time}}</div>
                                    <div class=" line"></div>
                                    <div class=" d-flex justify-content-between">
                                        <div class=" start-point"></div>
                                        <div class=" end-point"></div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="row">{{dateFormat arrival_time "HH:mm"}}</div>
                                    <div class="row symbol-code">{{arrival_airport}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            </div>
            <div class="col-4 infor-box shadow">
                <div class="content">
                    <div class="row text-header d-flex align-items-center">
                        <h5 class="row">Price Details</h4>
                    </div>
                </div>
                <div class="content">
                    <table class="table">
                        <tbody>
                            <tr class="row">
                                <td class="col ">
                                    <span class="_1KrnW _1EnnQ _2HSse">Passenger x{{passenger}}</span>
                                </td>
                                <td class="col d-flex justify-content-end">
                                    <div class="_2Zal8">
                                        <span class="text-right">{{#currencyFormat price.price}}{{/currencyFormat}}</span>
                                    </div>
                                </td>
                            </tr>
                            <tr class="row grey-box">
                                <td class="col ">
                                    <span class="_1KrnW _1EnnQ _2HSse">Total</span>
                                </td>
                                <td class="col d-flex justify-content-end">
                                    <div class="_2Zal8">
                                        <span class="_1KrnW _1EnnQ _2HSse _2LGIU">{{#currencyFormat total}}{{/currencyFormat}}</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a type="submit" href="../booking/{{flight.id}}?passenger={{passenger}}&seatclass={{seatClass.id}}" class='btn btn-primary'>Tiếp tục</a>
                <button class="btn btn-primary next-btn" type="button">Tiếp tục</button>
            </div>
        </div>
        
        
    </div>
</main>
<style>
    .section {
        background-color: #0770cd;
        height: 152px;
        margin-bottom: -56px;
        width: 100%;
    }

    .card {
        width: 960px;
        margin: 0 auto;
        border: 0;
    }

    .infor-box {
        margin-bottom: 16px;
        position: relative;
        background-color: #fff;
        border-radius: 6px;
    }

    .content {
        padding: 8px;
    }


    .text-header {
        border-bottom: 1px solid #dadada;
        height: 56px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: .5px;
    }

    .icon {
        width: 24px;
        height: 24px;
    }

    .symbol-code {
        background-color: rgb(242, 243, 243);
        border-radius: 10px;
        width: fit-content;
        padding-left: 8px;
        padding-right: 8px;
    }

    .start-point {
        height: 8px;
        width: 8px;
        background-color: #fff;
        border-radius: 8px;
        border: 1px solid rgb(205, 208, 209);
        padding: 0;
    }

    .line {
        border-bottom: 1px solid rgb(193 193 193);
        margin-bottom: -4px;
    }

    .grey-box {
        background-color: #f6f6f6;
        border-top: 1px solid #ebebeb;
    }

    .end-point {
        height: 8px;
        width: 8px;
        padding: 0;
        background-color: rgb(205, 208, 209);
        border-radius: 10px;
        border: 1px solid rgb(205, 208, 209);
    }

    .flight-time {
        margin-right: 24px;
    }

    .next-btn {
        width: 100%;
    }
</style>